@charset "utf-8";

// Forward all variables and mixins so they can be used by consumers
@forward "minima/variables";

// Include the partials directly (not @forward) to make their content available
@use "minima/base";
@use "minima/layout";
@use "minima/syntax-highlighting";

// My stuff

.post-content img {
    max-width: 70%;
    margin: 10px;
}

.plantuml {
    max-width: 100%;
}
